 
{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block stylesheets %}
<style> 
#bd{
    background-image: url("https://supportpay.com/wp-content/uploads/getty_883231284_200013331818843182490_335833.jpg");
}
#sec1{
background-image: url("https://foodtank.com/wp-content/uploads/2021/07/alfons-morales-YLSwjSy7stw-unsplash.jpg");
background-repeat : no-repeat;
}
#h:focus{
    background-color : #373737;
    color:#ffffff;
}
</style>
{% endblock %}
{% block javascripts %}
            <script src="js/main.js"> </script>
        {% endblock %}

{% block body %}
<!--BANNER-->

<section class="p-sm-5 p-5 bg-light " id="sec1">
                        <div class="container-fluid">
                            <div class="row mb-3">
                                <div class="col text-center">
                                    <h3 class="text-capitalize  fw-bold text-dark"></h3>
                                    <p class="fst-italic fs-5 fw-bold text-light"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 mb-sm-5">
                                    <div class="card text-center">
                                        <h3 class="fw-muted mt-3 mb-3">recherche par mot clé</h3>
                                        <div class="card-body">
                                         <form method="POST" class="text-secondary" onsubmit="chercher(event)">
                                                <div class="form-goup mb-3">
                                                
                                                <input id="motCle" type="text" class="form-control"  placeholder="mot clé">
                                                
                                                </div>
                                            <div class="form-goup">
                                                <button type="submit" class="btn btn-warning mt-1 btn-block form-control" style="width:100%">chercher</button>
                                            </div>
                                            </form>
                                    </div>
                                    
                                    </div>
                                </div>
                                 <div class="col-lg-4 mb-sm-5" >
                                    <div class="card text-center">
                                        <h3 class="fw-muted mt-3 mb-3">recherche par dates</h3>
                                        <div class="card-body">
                                         <form method="POST" class="text-secondary" onsubmit="lister(event)">
                                                <div class="form-goup mb-3">
                                                
                                                <input type="text" class="form-control" id="dateDeb" placeholder="date debut">
                                                
                                                </div>
                                                <div class="form-goup mb-3">
                                                
                                                <input type="text" class="form-control" id="dateFin" placeholder="date fin">
                                                
                                                </div>
                                            <div class="form-goup">
                                                <button type="submit" class="btn btn-warning mt-1 btn-block form-control" style="width:100%">Lister</button>
                                            </div>
                                            </form>
                                    </div>
                                    
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-5 ">
                                    <div class="card text-center">
                                        <h3 class="fw-muted mt-3 mb-3">Filtrage </h3>
                                        <div class="card-body">
                                         <form action="#" class="text-secondary">
            
                                                <div class="form-group">
                                                <select  id="" class="form-select mt-2" onchange="filtrerParNote(event)">
                                                <option selected>Note</option>
                                                {% for i  in 0..20  %}
                                                <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                                
                                                </select>
                                                <select  id="" class="form-select mt-2" onchange="filtrerParDate(event)">
                                                <option selected>Date de parution</option>
                                                {% for livre in livres %}
                                                <option value="{{ livre.datedeparution|date("Y-m-d") }}">{{ livre.datedeparution|date("Y-m-d")  }}</option>
                                                {% endfor %}
                                                
                                                </select>
                                                
                                                 </select>
                                                <select  id="" class="form-select mt-2" onchange="filtrerParAutheur(event)">
                                                <option selected>Autheur</option>
                                                {% for autheur in autheurs %}
                                                <option value="{{ autheur.id}}">{{ autheur.nomPrenom }}</option>
                                                {% endfor %}
                                                
                                                </select>

                                                </select>
                                                <select  id="" class="form-select mt-2" onchange="filtrerParGenre(event)">
                                                <option selected>Genre</option>
                                                {% for genre in genres %}
                                                <option value="{{ genre.id}}">{{ genre.nom }}</option>
                                                {% endfor %}
                                                
                                                </select>
                                                </div>
                                            
                                            </form>
                                    </div>
                              
                                    </div>
                                </div>
                            </div>
                        </div>
                        </section>

                             <!--END OF BANNER-->
                             <!-- section : display books -->
                             <section>
                             <div class=" container-fluid p-5 bg-light" id="bd"> 
                                  <div class="row">
    <div id="h"class="text-center mb-4 mt-4   p-3 "><h1 class="f-bold">Les livres </h1></div>

                          {% for livre in livres %}

                             <div class="col-md-3">
                             <div class="card text-center mx-2 mb-3 bg-white">
                                        <i class="bi bi-book-half " style="font-size: 4rem"></i>
                                        <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="fw-bold">{{livre.titre}}</h3>
                                        </div>
                                        
                                    </div>
                                    <div class="text-right mb-3">
                                         <a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-warning">details<i class="bi bi-display"></i></a>
                                         {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-success"><i class="bi bi-pen"></i></a>
                                         {{ include('livre/_delete_form.html.twig') }}{% endif  %}
                                    </div>
                                    </div>
                             </div>
                                    
                                
                                 {% endfor %}
                                 <div class="d-flex justify-content-center">{{ knp_pagination_render(livres,'pagination.html.twig') }}</div> 
                                 </div>
                                 </div>
            
                          
                             </section>
   

 
{% endblock %}
