{% extends 'base.html.twig' %}

{% block title %}Autheur index{% endblock %}

{% block body %}
    <h1>Autheur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_prenom</th>
                <th>Sexe</th>
                <th>Date_de_naissance</th>
                <th>Nationalite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for autheur in autheurs %}
            <tr>
                <td>{{ autheur.id }}</td>
                <td>{{ autheur.nomPrenom }}</td>
                <td>{{ autheur.sexe }}</td>
                <td>{{ autheur.dateDeNaissance ? autheur.dateDeNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ autheur.nationalite }}</td>
                <td>
                    <a href="{{ path('autheur_show', {'id': autheur.id}) }}">show</a>
                    <a href="{{ path('autheur_edit', {'id': autheur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('autheur_new') }}">Create new</a>
{% endblock %}
